.notification {
	background-color: #ffff66;
	border: 1px double #1a2977;
	border-top: 0;
	box-shadow: 5px 5px 5px #CCC;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
}

#studyOverviewTable {
	margin-top: 28px;
	table-layout: fixed;
	width: 100%;
}

#studyOverviewTable * {
	white-space: pre-wrap; /* css-3 */
}

/*prevent our floating divs from overlapping footer */
#footer {
	clear: both;
}

.dataTypeOption {
	width: auto;
	height: 25%;
	border: 2px double #ffffff;
	border-radius: 10px;
	margin-top: 5px;
	padding: 5px;
}

.dataTypeOption:hover {
	border-color: #3399ff;
}

.scrollingDiv {
	width: 100%;
	overflow: auto;
}

.dataTypeOptionText {
	width: 40%;
	float: left;
}

.dataTypeImage {
	float: right;
	position: relative;
	top: 50%;
	margin-top: -45px;
}