#uploadedFiles {
	float: left;
	width: 50%;
}

#studyOverview {
	float: left;
	width: auto;
}

.sampleCount {
	float: right;
}

.studyList {
	width: 100%;
}

/*prevent our floating divs from overlapping footer */
#footer {
	clear: both;
}